{% extends "app_service_watch/base.html" %}
{% load static %}
{% block contenidoVariable%}
            <section class="py-5 bg-warning" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/media/about1.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Quien desarrolló la Web</h2>
                            <p class="lead fw-normal text-muted mb-0">Me presento, mi nombre es Luciano Ivo Palermo, de Buenos Aires, Argentina. Con 32 años, trabajo en la administración de un colegio y me encuentro estudiando Sistemas de las Organizaciones en la UBA de Económicas además de estudiar programación en paralelo. Comencé en el 2022 con los cursos de Front End React JS que realicé durante dicho año. Mi interés sigue creciendo particularmente por la ciberseguridad y las inteligencias artificiales.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/media/about2.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Y ahora que?</h2>
                            <p class="lead fw-normal text-muted mb-0">Con lo que respecta a la programación llevo realizados los cursos de html, css, javascript, React JS y tengo pensado cubrir más sobre el backend como SQL por interés. Todavía me encuentro en la busqueda de mi primer trabajo como programador y tengo certeza de que es a lo que me quiero dedicar.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-info">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Linkedin</h2>
                        <p class="lead fw-normal text-muted mb-5"><a class="lead fw-normal text-muted mb-5" href="https://www.linkedin.com/in/luciano-ivo-palermo-a6655087/">https://www.linkedin.com/in/luciano-ivo-palermo-a6655087/</a></p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Ibbie Eckart</h5>
                                <div class="fst-italic text-muted">Founder &amp; CEO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Arden Vasek</h5>
                                <div class="fst-italic text-muted">CFO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Toribio Nerthus</h5>
                                <div class="fst-italic text-muted">Operations Manager</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Malvina Cilla</h5>
                                <div class="fst-italic text-muted">CTO</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock contenidoVariable%}